header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  color: #fff;
  font-size: rem(16);
  font-family: $fontLight;
  .header-wrapper {
    padding: $globalGap 0 0;
    display: flex;
    justify-content: space-between;
    @media (max-width: 580px) {
      align-items: center;
    }
  }
  .logo-container {
    position: relative;
    z-index: 1;
    img {
      height: rem(30);
      @media (max-width: 580px) {
        height: 15px;
      }
      &.black {
        display: none;
      }
    }
  }
  a {
    color: #fff;
    &:hover {
      color: $primary !important;
    }
  }
  &.dark:not(.menu-opend) {
    color: #000;
    img {
      &.black {
        display: block;
      }
      &.white {
        display: none;
      }
    }
    a {
      color: #212121;
    }
    .menu-btn i {
      background-color: #000;
    }
  }

  &.menu-opend {
    .navs-menu {
      transform: translateX(0);
    }
  }
}

.mob-nav {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  @media (min-width: 768px) {
    display: none !important;
  }
}
.navs-menu {
  display: flex;
  justify-content: end;
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    @media (min-width: 768px) {
      margin-#{$right}: rem(50);
    }
    a {
      padding: rem(3) 0;
      display: block;
    }
    .active {
      color: $primary !important;
      position: relative;
      font-family: $fontMedium !important;
      &:before {
        content: "";
        position: absolute;
        top: 50%;
        #{$left}: rem(-5);
        transform: translate(-100%, -50%);
        width: 0;
        height: 0;
        border-top: rem(3) solid transparent;
        border-bottom: rem(3) solid transparent;
        border-left: rem(6) solid $primary;
      }
    }
  }
  @media (max-width: 767px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: #000;
    color: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) all 0.4s;
    transform: translateX(-100%);
    > a {
      display: none;
    }
    ul {
      margin: auto;
      a {
        color: #fff !important;
        font-size: 25px;
        text-align: center;
        padding: 10px 0;
        &:hover {
          color: $primary !important;
        }
        &.active:before {
          border-width: 8px;
        }
      }
    }
    .lang-toggle {
      font-size: 25px;
    }
  }
}
.lang-toggle {
  @media (min-width: 768px) {
    margin-#{$left}: rem(35);
  }
  a:not(.active) {
    color: #7e7e7e;
  }
}
.menu-btn {
  margin-#{$left}: 20px;
  border: 0;
  background: none;
  outline: none;
  cursor: pointer;
  vertical-align: middle;
  > i {
    display: block;
    width: 18px;
    height: 1px;
    margin: 7px auto;
    background-color: #fff;
    transition: all linear 0.2s;
  }

  &.open {
    > i {
      &:first-child {
        transform: translateY(4px) rotateZ(-45deg);
      }
      &:last-child {
        transform: translateY(-4px) rotateZ(45deg);
      }
    }
  }
}

.preloading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#fff, 1);
  z-index: 9999999;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    max-height: rem(80);
  }
  svg {
    height: rem(50);
    position: relative;
    max-width: 75%;
    #logoIconGroub {
      // transform: translateX(43%);
    }
    #logoLettersGroub {
      rect {
        // opacity: 0;
      }
    }
  }
}
.backtop {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  bottom: rem(20);
  right: rem(30);
  z-index: 99;
  border: none;
  outline: none;
  transition: all ease 0.3s;
  cursor: pointer;
  padding: rem(30);
  border-radius: 50%;
  background: url(#{$imgPath}/icons/arrow-white-right.svg) no-repeat $primary center / #{rem(20)};
  transform: rotate(-90deg);
  &.show {
    opacity: 1;
    visibility: visible;
  }
  &:hover {
    // background-color: $lightBlue;
    // color: $darkBlue;
  }
}
.cursor {
  color: #abaaaa;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  z-index: 900;
  opacity: 0;
  visibility: hidden;
  transition:
    visibility 0.8s cubic-bezier(0.22, 1, 0.36, 1),
    opacity 0.8s cubic-bezier(0.22, 1, 0.36, 1);

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(95);
    height: rem(95);
    color: #000;
    border-radius: 50%;
    background-color: $primary;
    font-size: rem(64);
    font-family: $fontThin;
    transition: transform 0.8s cubic-bezier(0.22, 1, 0.36, 1);
    transform: scale(0) rotate(-360deg);
  }
  &.active {
    opacity: 1;
    visibility: visible;
    .btn {
      transform: scale(1) rotate(0);
    }
  }
}
.dark-bg {
  background-color: #000;
}
footer {
  .footer-top {
    padding: rem(100) 0;
    @media (min-width: 993px) {
      display: flex;
      gap: rem(50);
      justify-content: space-between;
    }
    @media (max-width: 992px) {
      .left {
        display: none;
      }
    }
    .left {
      color: #000;
      font-size: rem(16);
      font-family: $fontLight;
      .logo-container {
        margin-bottom: rem(55);
        img {
          width: rem(580);
          max-width: 100%;
          display: block;
        }
      }
      a {
        color: #212121;
        &:hover {
          color: $primary;
        }
      }
    }
    .right {
      font-size: rem(35);
      font-family: $fontLight;
      line-height: rem(50);
      @media (max-width: 767px) {
        font-size: 20px;
      }
    }
  }
  .marquee-wrapper {
    padding: rem(20) 0;
    font-size: rem(40);
    font-family: $fontLight;
    line-height: rem(53);
    @media (max-width: 580px) {
      font-size: 24px;
      line-height: 32px;
    }
    a {
      color: #000;
      display: flex;
      align-items: center;
      &:hover {
        color: $primary;
      }
      img {
        height: rem(35);
        margin-#{$right}: rem(15);
        @media (max-width: 580px) {
          height: rem(25);
        }
      }
    }
    .item {
      display: flex;
      align-items: center;
      gap: rem(15);
      padding: 0 rem(7);
      white-space: nowrap;
    }
  }
  .footer-bottom {
    padding: rem(50) 0;
    background-color: $primary;
  }
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 992px) {
      flex-direction: column;
      .country-list {
        margin-bottom: rem(30);
      }
    }
  }
  .country-list {
    display: flex;
    align-items: center;
    gap: rem(20);
    @media (min-width: 993px) {
      min-width: 50%;
    }
    a:not(.active) {
      opacity: 0.3;
      &:hover {
        opacity: 0.8;
      }
    }
    img {
      display: block;
      height: rem(25);
    }
  }
  .audio {
    flex: 1;
    @media (max-width: 580px) {
      width: 100%;
    }
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10vh 10vw;
  z-index: 999;
  background-color: rgba(#000, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: all ease 0.3s;
  &.active {
    opacity: 1;
    visibility: visible;
    .pop-content video {
      transform: scale(1);
      opacity: 1;
    }
  }
  .pop-content {
    margin: auto;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    display: flex;
    video {
      margin: auto;
      width: auto;
      height: 5000px;
      max-width: 100%;
      max-height: 100%;
      transform: scale(0.8);
      opacity: 0;
      transition: all ease 0.3s;
      transition-delay: 0.4s;
    }
  }
  @media (max-width: 1200px) {
    padding: 15px;
    .pop-content {
      video {
        width: 100%;
        height: auto;
      }
    }
  }
  .close {
    position: absolute;
    top: rem(30);
    #{$right}: rem(15);
    z-index: 1;
    display: block;
    > i {
      &:first-child {
        transform: translateY(4px) rotateZ(-45deg);
      }
      &:last-child {
        transform: translateY(-4px) rotateZ(45deg);
      }
    }
    i {
      width: rem(50);
      height: 2px;
    }
  }
}
