$base-size: 18;
@function rem($target, $context: $base-size) {
    @return (calc($target / $base-size)) * 1rem;
}

// colors
$white: #ffffff;
$black: #000000;
$primary: #f8dc4a;
$white-f: #f8f8f8;

$imgPath: "../../images";
$globalGap: rem(40);

/////////////////////////////////////////////
$default-behaviour: true; //  true or false

//== font-families
@font-face {
    font-family: "FontThin";
    @if ($mainSiteLang == "ar") {
        src: url(../../fonts/Arabic/FSAlbertArabic/FSAlbertArabic-Light.otf);
    }
    @if ($mainSiteLang == "en") {
        src: url(../../fonts/English/Roboto/Roboto-Thin.ttf);
    }
}
@font-face {
    font-family: "FontLight";
    @if ($mainSiteLang == "ar") {
        src: url(../../fonts/Arabic/FSAlbertArabic/FSAlbertArabic-Light.otf);
    }
    @if ($mainSiteLang == "en") {
        src: url(../../fonts/English/Roboto/Roboto-Light.ttf);
    }
}
@font-face {
    font-family: "FontRegular";
    @if ($mainSiteLang == "ar") {
        src: url(../../fonts/Arabic/FSAlbertArabic/FSAlbertArabic-Regular.otf);
    }
    @if ($mainSiteLang == "en") {
        src: url(../../fonts/English/Roboto/Roboto-Regular.ttf);
    }
}
@font-face {
    font-family: "FontMedium";
    @if ($mainSiteLang == "ar") {
        src: url(../../fonts/Arabic/FSAlbertArabic/FSAlbertArabic-Bold.otf);
    }
    @if ($mainSiteLang == "en") {
        src: url(../../fonts/English/Roboto/Roboto-Medium.ttf);
    }
}
@font-face {
    font-family: "FontBold";
    @if ($mainSiteLang == "ar") {
        src: url(../../fonts/Arabic/FSAlbertArabic/FSAlbertArabic-ExtraBold.otf);
    }
    @if ($mainSiteLang == "en") {
        src: url(../../fonts/English/Roboto/Roboto-Bold.ttf);
    }
}

$fontThin: "FontThin";
$fontLight: "FontLight";
$fontRegular: "FontRegular";
$fontMedium: "FontMedium";
$fontBold: "FontBold";

//
// font family
$font-family-default: $fontRegular;
$font-numbers-default: $fontRegular;
$fonts-map-default: ();
// font family
$font-family-reverse: $fontRegular;
$font-numbers-reverse: $fontRegular;
$fonts-map-reverse: ();
