<!-- <div class="container">
    <div class="footer-top">
        <div class="left">
            <div class="logo-container">
                <a href="index.html">
                    <img class="black" src="../assets/images/logo-dark.svg" alt="">
                </a>
            </div>

            <div class="navs-menu">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#">projects</a></li>
                    <li><a href="#">about</a></li>
                    <li><a href="#">blogs</a></li>
                </ul>

                <a href="#">Let’s Talk <span>+</span></a>

                <div class="lang-toggle">
                    <a href="" class="active">en</a>
                    |
                    <a href="">ar</a>
                </div>
            </div>
        </div>
        <div class="right">
            <p>
                PRINCE ABDULAZIZ IBN THUNAYYAN
                <span class="yellow">______</span><br>
                ST، 7531, NAKHEEL RIYADH, 12373
            </p>
            <p>
                PHONE<span class="yellow">_____</span>+966114711147
                <br>
                FAX<span class="yellow">_____</span>+966114711147
            </p>

            <ul class="social">
                <li><a href="#"><img src="assets/images/social/facebook.svg" alt=""></a></li>
                <li><a href="#"><img src="assets/images/social/instagram.svg" alt=""></a></li>
                <li><a href="#"><img src="assets/images/social/linkedin.svg" alt=""></a></li>
                <li><a href="#" class="x"><img src="assets/images/social/twitter.svg" alt=""></a></li>
                <li><a href="#"><img src="assets/images/social/behance.svg" alt=""></a></li>
            </ul>
        </div>
    </div>
</div> -->
<div class="footer-top">
    <img class="left" src="../assets/images/map.png" alt="">
    <div class="right">
        <p>
            PRINCE ABDULAZIZ IBN THUNAYYAN
            <span class="yellow">______</span><br>
            ST، 7531, NAKHEEL RIYADH, 12373
        </p>
        <p>
            PHONE<span class="yellow">_____</span>
            <a href="tel:+966114711147">+966114711147</a>
            <br>
            FAX<span class="yellow">_____</span>
            <a href="tel:+966114711147">+966114711147</a>
        </p>

        <ul class="social">
            <li><a href="#"><img src="assets/images/social/facebook.svg" alt=""></a></li>
            <li><a href="#"><img src="assets/images/social/instagram.svg" alt=""></a></li>
            <li><a href="#"><img src="assets/images/social/linkedin.svg" alt=""></a></li>
            <li><a href="#" class="x"><img src="assets/images/social/twitter.svg" alt=""></a></li>
            <li><a href="#"><img src="assets/images/social/behance.svg" alt=""></a></li>
        </ul>
    </div>
</div>
<div class="marquee-wrapper">
    <div class="marquee" data-speed="5000">
        <div class="item">
            <div><span>contact us</span></div>
        </div>
        <div class="item">
            <a href="#" class="website">
                <img src="assets/images/icons/web.svg" alt="">
                <span>HELLO@CREATIVEBLEND.COM.SA</span>
            </a>
        </div>
        <div class="item">
            <a href="#" class="email">
                <img src="assets/images/icons/message.svg" alt="">
                <span>HELLO@CREATIVEBLEND.COM.SA</span>
            </a>
        </div>
        <div class="item">
            <div><span>contact us</span></div>
        </div>
        <div class="item">
            <a href="#" class="website">
                <img src="assets/images/icons/web.svg" alt="">
                <span>HELLO@CREATIVEBLEND.COM.SA</span>
            </a>
        </div>
        <div class="item">
            <a href="#" class="email">
                <img src="assets/images/icons/message.svg" alt="">
                <span>HELLO@CREATIVEBLEND.COM.SA</span>
            </a>
        </div>
        <div class="item">
            <div><span>contact us</span></div>
        </div>
        <div class="item">
            <a href="#" class="website">
                <img src="assets/images/icons/web.svg" alt="">
                <span>HELLO@CREATIVEBLEND.COM.SA</span>
            </a>
        </div>
        <div class="item">
            <a href="#" class="email">
                <img src="assets/images/icons/message.svg" alt="">
                <span>HELLO@CREATIVEBLEND.COM.SA</span>
            </a>
        </div>
    </div>
</div>
<div class="footer-bottom">
    <div class="container">
        <div class="content">
            <div class="country-list">
                <button class="btn current"><img src="assets/images/flags/KSA.png" alt=""> +</button>
                <ul>
                    <li><a class="active"><img src="assets/images/flags/KSA.png" alt=""></a></li>
                    <li><a href="#"><img src="assets/images/flags/Italy.png" alt=""></a></li>
                    <li><a href="#"><img src="assets/images/flags/UAE.png" alt=""></a></li>
                    <li><a href="#"><img src="assets/images/flags/Egypt.png" alt=""></a></li>
                    <li><a href="#"><img src="assets/images/flags/Russia.png" alt=""></a></li>
                    <li><a href="#"><img src="assets/images/flags/France.png" alt=""></a></li>
                    <li><a href="#"><img src="assets/images/flags/German.png" alt=""></a></li>
                    <li><a href="#"><img src="assets/images/flags/Spain.png" alt=""></a></li>
                </ul>
            </div>

            <div class="audio">
                <div class="aWrap" data-src="http://www.sousound.com/music/healing/healing_01.mp3">
                    <button class="aPlay play" disabled><span class="pause"></span></button>
                    <div class="seeker">
                        <span class="aNow"></span>
                        <div class="range">
                            <span class="under-ranger"></span>
                            <input class="aSeek" type="range" min="0" value="0" step="1" disabled><span
                                class="change-range"></span>
                        </div>
                        <span class="aTime"></span>
                    </div>
                </div>
                <!-- <div class="volume-container">
                        <span class="aVolIco"><i class="fa fa-volume-up"></i></span>
                        <div class="range-volume">
                            <span class="under-ranger"></span>
                            <input class="aVolume" type="range" min="0" max="1" value="1" step="0.1" disabled><span
                            class="change-range"></span>
                        </div>
                    </div> -->
            </div>

        </div>
    </div>
</div>