<div class="container">
    <div class="header-wrapper">
        <div class="logo-container">
            <a href="index.html">
                <img class="black" src="../assets/images/logo-dark.svg" alt="">
                <img class="white" src="../assets/images/logo-light.svg" alt="">
            </a>
        </div>

        <div class="navs-btns">
            <ul>
                <li><a href="index.html" class="active">Home</a></li>
                <li><a href="#">projects</a></li>
                <li><a href="#">about</a></li>
                <li><a href="#">blogs</a></li>
            </ul>

            <a href="#">Let’s Talk <span>+</span></a>

            <div class="lang-toggle">
                <a href="" class="active">en</a>
                |
                <a href="">ar</a>
            </div>

            <button class="menu-btn open">
                <i></i><i></i>
            </button>
        </div>
    </div>
</div>