<div class="container">
    <div class="header-wrapper">
        <div class="logo-container">
            <a href="index.html">
                <div class="logo">
                    <img class="black" src="../assets/images/logo-dark.svg" alt="">
                    <img class="white" src="../assets/images/logo-light.svg" alt="">
                </div>
                <div class="icon">
                    <img class="black" src="../assets/images/logo-icon-dark.gif" alt="">
                    <img class="white" src="../assets/images/logo-icon-light.gif" alt="">
                </div>
            </a>
        </div>

        <div class="mob-nav">
            <a href="#">Let’s Talk <span>+</span></a>

            <button class="menu-btn">
                <i></i><i></i>
            </button>
        </div>
        <div class="navs-menu">
            <ul>
                <li><a href="index.html" class="active">Home</a></li>
                <li><a href="projects.html">projects</a></li>
                <li><a href="about.html">about</a></li>
                <li><a href="blogs.html">blogs</a></li>
            </ul>

            <a href="#">Let’s Talk <span>+</span></a>

            <div class="lang-toggle">
                <a href="" class="active">en</a>
                |
                <a href="">ar</a>
            </div>
        </div>
    </div>
</div>